<configuration>

    <property name="charset" value="UTF-8"/>
    <property name="pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
    <property name="logPath" value="C:/var/tellme/log/feed-service" />
    <property name="logFile" value="feed-service.log" />
    <property name="archive" value="archive" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logPath}/${logFile}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/${archive}/${logFile}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>5MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>${charset}</charset>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>


    <root level="debug">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
